<section>

    <div class="container">
        <form action="">
            <h1>Login</h1>
            <div class="input-box">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Email</mat-label>
                      <input matInput placeholder="Ex. Pizza" value="Sushi">
                    </mat-form-field>
                  
                    <mat-form-field class="example-full-width">
                      <mat-label>Senha</mat-label>
                      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                    </mat-form-field>
                  </form>
                <label><input type="checkbox">Lembrar de mim</label>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</section>

