.barra{
    margin: 0;
    
  
}
.menu {
    display: flex;
    justify-content: space-around;
    background-color: rgb(222, 94, 175);
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.items{
    list-style-type: none;
    
}
.items a {
    padding: 2px;
    margin-bottom: 2px;
    text-decoration: none;
    font-weight: 600;
     border-left: 3px solid rgb(223, 149, 198); 
     border-right: 4px solid black; 
    border-radius: 10px;
    
    color: rgb(72, 4, 88);
}

