menu a{
    display: flex;
    justify-content: space-between;
    background-color: rgb(222, 94, 175);
    color: chocolate;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

menu{
    height: 50%;
    
}
.teste{
    color: black;
    height: 300px;
    width: 250px;
    padding: 100px;
}